---

import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout>

    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-md mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Acknowledgments and Credits</h2>
            </div>
            <br/>
            <p>We are profoundly grateful to Robert Singerman, Emeritus University Librarian, University of Florida for entrusting us with his extraordinary work.</p>
            <br/>
          Project Directors:
                <ul classname="list-disc">
                    <li> Arthur Mitchell Fraas, Senior Curator, Special Collections</li>
                    <li>Arthur Kiron, Schottenstein-Jesselson Curator of Judaica Collections</li>
                    <li>Laura Newman Eckstein, Arnold and Deanne Kaplan Curator of Judaica Digital Humanities</li>
                </ul>

            <br/>

            <p>Special thanks and credit to:</p>
            <ul classname="list-disc">
                <li> Emily Esten, Former Judaica Digital Humanities Project Coordinator</li>
                <li>Nicky Agate, Former Assistant University Librarian for Research Data &amp; Digital Scholarship</li>
                <li>Doug Emery, Special Collections Digital Content Programmer</li>
                <li>Jonathan Scott Enderle, Former Digital Humanities Librarian</li>
                <li>Andrew Kimball, DevOps Engineer</li>
                <li>Emily Morton Owens, Assistant University Librarian, Digital Library Development &amp; Systems</li>
                <li>Jordan Rothschild, Digital Camera Operator</li>
                <li>Michelle Chesner, Norman E. Alexander Librarian for Jewish Studies, Columbia University</li>
                <li>Laurie Allen, Former Director for Digital Scholarship</li>
                <li>Chris Clement, Former Senior Developer&nbsp;</li>
                <li>Camille Davis, Former Library Assistant</li>
                <li>Laura Newman Eckstein, Former Judaica Digital Humanities Project Coordinator</li>
                <li>Katherine Lynch, Former Senior Developer</li>
                <li>William Noel, Former Director of the Kislak Center &amp; the Schoenberg Institute for Manuscript Studies</li>
                <li>Kenny Whitebloom, Former Digital Scholarship Publishing Librarian</li>
            </ul>
        </div>
    </section>
</BaseLayout>