@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@theme {

    --default-font-family: "Merriweather", "sans-serif";
    --font-display : "Playfair-Display", serif;
    --font-heading: "Playfair-Display", "sans-serif";
}
